:root {
    --wrapper-bg:#191718;
    --text-color:#f9f9f9;
    --outline-color: #f9f6f6;
    --hover-color: #191718;
    --product-bg: #020203;
    --product-bg-trans: #020203b7;
    --vert-hover-color: #191718;
    --bg-shadow: #373333;
    --vert-nav-bg: #020203;
    --dark-mode-text: #020203;
    --dark-mode-bg: #f9f9f6;
    --bg-gradient-1: linear-gradient(90deg, rgb(40, 40, 40) 0%, rgba(71, 71, 68, 1) 100%);
    --bg-gradient-2: linear-gradient(90deg, #373333  20%, #63625f 80%);

}

.light-mode {
    --wrapper-bg:#f9f6f6;
    --text-color: #020203;
    --outline-color: #020203;
    --hover-color: #f9f6f6;
    --product-bg: #e7e4e4;
    --product-bg-trans: #d6d3d37d;
    --vert-nav-bg: #e7e4e4;
    --vert-hover-color: #f9f6f6;
    --dark-mode-text: #f9f9f9;
    --dark-mode-bg: #020203;
    --bg-gradient-1: linear-gradient(90deg, rgb(97, 93, 93) 0%, rgb(92, 92, 85) 100%);
    --bg-gradient-2: linear-gradient(90deg, #464141  20%, #626261 80%);
} 


*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    /* border: 2px solid green; */
}

body {
    display: flex;
    background: var(--bg-gradient-1);
    font-family: "Open Sans", sans-serif;
}

.container {
    margin: .5em;
    width: 25em;
    max-width: 100%;
    background: var(--bg-gradient-2);
    border-radius: 50px;
    transition: all 1s ease;
    animation: window-animate 1s ease forwards;
    box-shadow: 12px 12px 20px var(--bg-shadow);
    padding: 1em;
}

.wrapper {
    height: 50em;
    background: var(--wrapper-bg);
    border-radius: 30px;
    display: flex;
}

nav {
    display: inline-block;
    display: flex;
    justify-content: space-evenly;
    padding: .5em 1em ;
    position: absolute;

}
.nav-container {
    display: flex;
    /* justify-content: space-between; */

    color: var(--text-color);
    
}
.logo {
    font-family: "Open Sans", sans-serif;
    font-size: 1.3em;
    color: var(--text-color);
    letter-spacing: 5px;
    
}

.nav-icons {
    width: 5.5em;
    height: 2em;
    background-color: var(--product-bg);
    display: inline-block;
    font-size: .7em;
    text-align: center;
    margin: .5em .6em;
    padding: .2em .8em;
    box-shadow: 2px 1px 5px var(--bg-shadow);
    border-radius: 20px;
    outline: 1px solid var(--outline-color);
    border: 1px solid var(--outline-color); 
    outline-offset: 0px;
    animation: outline-animate2 1s ease forwards;
    transition: all 1s ease;
}

ul, li, a {
    list-style-type: none;
    text-decoration: none;
    color: var(--text-color);
    cursor: pointer;
}

.vertical-nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}


.vertical-navbar {
    background-color: var(--vert-nav-bg);
    width: 3em;
    height: 50em;
    border-radius: 30px;
    display: inline-block;
    margin: .5em;
    position: relative;
    animation: items-slide2 2s ease forwards;
    transition: all 1s ease;
    display: none;
}

#vert-icons {
    font-size: 24px;
    color: var(--text-color);
}
.bxl {
    font-size: 48px;
    color: var(--text-color);
}
.mid-icon {
    width: 60px;
} .last-icon {
    margin-top: 40px;
}

.product-wrapper {
    margin: 4em 1em;
    display: flex;
    flex-direction: column;
}

.product-area {
    width: 21em;
    height: 20em;
    display: inline-block;
    background-color: var(--product-bg);
    border-radius: 30px;
    position: relative;
}

#product-image {
    display: inline-block;
    width: 21em;
    max-width: 100%;
    animation: image-scale2 1s ease forwards;
    transition: all .5s ease;
}

.product-info {
    color: var(--text-color);
    background-color: var(--product-bg-trans);
    width: 12em;
    height: 8em;
    position: absolute;
    z-index: 1;
    bottom: 0%;
    left: 0%;
    border-radius:0 30px 0 30px;
    padding: .2em .6em;
    transform: scale(0);
    transition: all 1s ease;
    animation: display-off 1s ease forwards;
    
}

.star {
    display: inline-block;
    font-size: .8em;
    margin: .2em 0;
    
}
.product-info p {
    margin: .2em;
}
.product-info h2 {
    font-size: 1em;
}

.product-btns {
    margin: 0 .3em;
    display: inline-block;
    padding: .4em 1.2em;
    font-size: .7em;
    font-weight: 600;
    border-radius: 30px;
}


.bx-star {
    color: var(--text-color);
}

.cart {
    border: 1px solid var(--text-color);
    /* background-color: var(--product-bg-trans); */
    /* color: var(--text-color); */
    animation: outline-animate2 1s ease forwards;
    transition: all 1s ease;
}


h1 {
    width: 10vw;
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
}

p {
    margin-top: 1em;
    font-size: .7em;
}

.info-boxes-wrapper {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}

.info-boxes {
    background-color: var(--product-bg);
    color: var(--text-color);
    border-radius: 25px;
    position: relative;
    width: 21em;
    padding: 1em;
    animation: items-slide 2s ease forwards;
    transition: all 1s ease;
}


.info-box-1 {
    height: 10em;
    margin-bottom: 1em ;
}

.info-box-2 {
    height: 10em;
    display: flex;
    flex-direction: row;
}

#box-img {
    display: inline-block;
    width: 10em;
    height: 4em;
}

.bar {
    margin: 0 1em;
    width: 12em;
    height: 8em;
    background: radial-gradient(closest-side, var(--product-bg) 90%, transparent 20% 100% ), conic-gradient(var(--text-color) 55%, var(--vert-hover-color) 90%);
    border-radius: 50%;
}

.hidden {
    display: none;

}



.toggle-btn-container {
    margin: 2em 0;
}

.toggle-buttons {
    
    background-color: var(--dark-mode-bg);
    margin-right: 1em;
    /* display: inline-block; */
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
    display: inline-block;
    padding: .4em;
    font-size: 1em;
    border-radius: 30px;
    transition: all 1s ease;
}

.toggle-buttons:hover {
    background-color: var(--dark-mode-bg);
    color: var(--text-color);
    transform: scale(1.05);
    box-shadow: 0 0 10px var(--bg-shadow);
    outline: 1px solid var(--dark-mode-text);
    transition: all .5s ease;
}

.bx-brightness,.bx-moon-star {
    font-size: 1.4em;
    background-color: var(--dark-mode-bg);
    width: 40px;
    color: var(--dark-mode-text);
    
} 
#toggle-dark {
    display: none;
}



/* hover effects, icons animation and navbar animations */

.nav-icons:hover {
    background-color: var(--hover-color);
    color: var(--text-color);
    transform: scale(1.1);
    box-shadow: 0 0 10px var(--vert-hover-color);
    outline: 2px solid var(--text-color);
    outline-offset: 2px;
    transition: all 1s ease;
    cursor: pointer;
    animation: outline-animate 1s ease forwards;
}

#vert-icons:hover {
    transform: scale(1.3);
    /* padding: .05em 0; */
    text-align: center;
    width: 45px;
    /* width: 90px; */
    transition: all .5s ease;
    background-color: var(--vert-hover-color);
    /* border-radius: 10px; */
}

.product-area:hover > .product-info {
    display: block;
    animation: display 1s ease forwards;
    transition: all 1s ease;
}

#product-image:hover {
    animation: image-scale 1s ease forwards;
    transition: all 1s ease;
}

.price:hover {
    transform: scale(1.1);
    /* box-shadow: 0 0 10px var(--vert-hover-color); */
    outline: 1px solid var(--text-color);
    outline-offset: 3px;
    transition: all .5s ease;
}

.cart:hover {
    background-color: var(--product-bg);
    color: var(--text-color);
    transition: 1s all ease;
    animation: outline-animate 1s ease forwards;
    transform: scale(1.1);
    /* box-shadow: 0 0 10px var(--text-color); */
    outline: 1px solid var(--text-color);
    outline-offset: 3px;
}

@keyframes outline-animate {
    0% {outline-offset: 0px;}
    50% {outline-offset: 5px;}
    100% {outline-offset: 5px; transform: scale(1.1);}
}

@keyframes outline-animate2 {
    100% {outline-offset: 0px;}
    50% {outline-offset: 0px;}
    0% {outline-offset: 5px; transform: scale(1.0);}
}

@keyframes display {
    0% {transform: scale(0);}
    100% {transform: scale(1);}
}


@keyframes display-off {
    0% {transform: scale(1); display: none}
    100% {transform: scale(0); }
}

@keyframes image-scale {
    0% {transform: scale(1);}
    100% {transform: scale(1.05);}
}

@keyframes image-scale2 {
    0% {transform: scale(1.05);}
    100% {transform: scale(1);}
}

@keyframes window-animate {
    0% {transform: translateY(-700px) scale(0.1);}
    100% {transform: translateY(0px);}
}

@keyframes items-slide {
    0% {transform: translateX(150px);}
    100% {transform: translateX(0px) ;}
}

@keyframes items-slide2 {
    0% {transform: translateX(-150px);}
    100% {transform: translateX(0px) ;}
}



@media (min-width: 600px) {
    .container {
        height: 55em;
        width: 41em;
    }
    .wrapper {
        height: 100%;
        
    }   
    nav {
        margin:0 4em;
    }
    .logo {
        margin-left: 2em;
        font-size: 1.5em;
    }

    .vertical-navbar {
        display: block;
        height: 33.5em;
        margin-left: 1em;
    }
    .vertical-nav-container {
        height: 100%;
    }
    .product-area {
        width: 32.5em;
        max-width: 100%;
        height: 30em;
        min-width: 20em;
    }
    .product-wrapper {
        flex-direction: column;
        /* align-items: center; */
    }
    .info-boxes-wrapper {
        display: flex;
        flex-direction: row;
    }
    .info-boxes {
        bottom: 0;
        margin: 1em 0;
    }
    .info-box-1 {
        height: 12em;
        width: 13em;
        margin-right: 1em;
    }
    .info-box-2 {
        width: 18.5em;
        height: 12em;
        flex-direction: row;
        margin-right: 1em;
    }
    .info-box-1 h2 {
        width: 8em;
    }
    .info-box-2 p {
        width: 9em;
    }
    #product-image {
        width: 39em;
        height: 30em;
    }
    .product-info {
        width: 17em;
        height: 10em;
    }
    .star {
    display: inline-block;
    font-size: 1em;
    /* margin-top: .5em 0; */
    
    }
    .product-info p {
    margin: 1em .5em;
    }
    .product-info h2 {
    font-size: 1em;
    margin: .5em;
    }
    .product-btns {
    margin: 0 .5em;
    padding: .4em 1.2em;
    font-size: .8em;
    font-weight: 600;
    border-radius: 30px;
}
}